node_modules
deployment/docker/nginx/certs/*.pem
deployment/docker/nginx/certs/*.key
deployment/docker/nginx/certs/*.crt

# Large files
ai_service/.venv/
frontend-react/dist-electron/
frontend-react/models/*.gguf
.DS_Store
